*
{
	margin:0;
	padding: 0;
}

body
{
	font-family: Arial, Tahoma;
}

#main-left
{
	float: left;
	width: 50%;
}

#main-right
{
	float: right;
	width: 50%;
}

#searchBox
{
	padding: 40px 20px;
}

#searchBox p:nth-child(1)
{
	text-align: center;
}

#searchBox input[type=text]
{
	width: calc(100% - 140px);
	padding: 8px 20px;
    border: 1px solid #C5C5C5;
    border-radius: 3px;
}
#searchBox input[type=button]
{
	padding: 8px 5px;
	background-color: #C3C3C3;
	border: none;
	border-radius: 3px;
	color: #FFF;
	cursor: pointer;
	font-size: 16px;
}

#searchBox input[type=button]:hover
{
	background-color: #939393;
}

#searchBox, #queue-play
{
	margin-left: 20px;
	margin-right: 20px;
}

.item-video
{
	width: calc(100% - 40px);
	height:80px;
	padding: 10px 20px;
	border-bottom: 1px solid #BBDEFB;
}

.item-video:hover
{
	background-color: #ECEFF1;
}

.item-video .thumb
{
	float: left;
	width: 120px;
	height: 80px;
}

.item-video div
{
	float: left;
	width: calc(100% - 230px);
	height: 80px;
	margin-left: 20px;
}
.item-video div .title, .len
{
	font-size: 16px;
}
.item-video div .title
{
	width: 100%;
}
.item-video div .len
{
	color: #FF9800;
}
.channelTitle
{
	color: #81C784; 
}
.item-video .add, .play, .remove
{
	float: right;
	width: 70px;
	border: none;
	border-radius: 3px;
	color: #FFF;
	line-height: 30px;
	cursor: pointer;
	margin: 5px 0px;
}
.item-video .add
{
	background-color: #2196F3;
}
.item-video .play
{
	background-color: #00E55F;
}
.item-video .remove
{
	background-color: #FF7043;
}
.item-video .add:hover
{
	background-color: #1565C0;
}
.item-video .play:hover
{
	background-color: #00C853;
}
.item-video .remove:hover
{
	background-color: #FF5722;
}

#video
{
	margin-left: 20px;
}

#main-right #video iframe
{
	margin: 0 auto;
}
#title-queue
{
	line-height: 50px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	padding: 0px 20px;
	color: #D32F2F;
}
.clear-fix{
	clear: both;
}

footer
{
	height: 50px;
	background-color: #000000;
}
footer p
{
	line-height: 50px;
	text-align: center;
	color: #FFFFFF;
}

{box-sizing: border-box;}


/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 90%;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}